@page "/schedules"
@using DevOpsCineMovies.Entities
@using CineMoviesWeb.Models
@inject NavigationManager NavigationManager

<h3>Schedules</h3>

@if (_schedules == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Movie</th>
                <th scope="col">Description</th>
                <th scope="col">Duration</th>
                <th scope="col">Genre</th>
                <th scope="col">When</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in _schedules)
            {
                <tr>
                    <td>@schedule.Movie!.Name</td>
                    <td>@schedule.Movie.Description</td>
                    <td>@schedule.Movie.Duration</td>
                    <td>@schedule.Movie.Genre</td>
                    <td>@($"{schedule.FromTime} - {schedule.ToTime}")</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => SeatSelection(schedule.Id)">Select Seat</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Schedule>? _schedules;
    
    protected override async Task OnInitializedAsync()
    {
        _schedules = await ApiRequestAdapter.ReadSchedule(1);
        foreach (var schedule in _schedules)
        {
            schedule.Movie = await ApiRequestAdapter.ReadMovie(schedule.MovieId);
        }
    }
    
    void SeatSelection(int scheduleId)
    {
        NavigationManager.NavigateTo($"/seats/{scheduleId}");
    }
}
